*{
    color: rgb(43, 77, 4);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
main{
    line-height: 1.5em;
}
ul{
    font-style: italic;
} 
 #about-pep{
    color: rgb(68, 9, 128);
}
.begin-text{
    color: rgb(68, 9, 128);
    font-weight: bolder;
}
                                            /* for body */


                                            /* for header */
header h1{
    text-align: center;
    font-size: 200%;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 1.5em 0 2em 0;
	border-bottom: 3px solid rgb(0, 0, 0);
	background-image: -moz-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: -o-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, white 50%, #f6bb73 80%, #f6bb73 100%);
}
header h2{
    text-align: center;
}
header img{
    float: left;
    padding-right: 1.5em;

}

                                            /* for main */
main section ul{
    text-indent: 1em;
}
main h3{
    padding-top: .5em;
}
.column {
    float: left;
    width: 20%;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

                                            /* for footer */
footer{
    padding-top: 1em;
    text-align: center;
    border-top: 3px solid rgb(0, 0, 0);
    border-bottom: 3px solid rgb(0, 0, 0);
    padding: 1.5em 0 2em 0;
	border-bottom: 3px solid rgb(0, 0, 0);
    background-image: -moz-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, #f6bb73 80%, #f6bb73 80%, rgb(255, 255, 255) 100%);
	background-image: -webkit-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, #f6bb73 80%, #f6bb73 80%, rgb(255, 255, 255) 100%);
	background-image: -o-linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, #f6bb73 80%, #f6bb73 80%, rgb(255, 255, 255) 100%);
	background-image: linear-gradient(
	    30deg, #f6bb73 0%, #f6bb73 30%, #f6bb73 80%, #f6bb73 80%, rgb(255, 255, 255) 100%);
}